SPRING_PROFILES_ACTIVE=dev
SPRING_APPLICATION_NAME=Paridhi-Portal-2025
SPRING_APPLICATION_BASE_URL=http://localhost:8080

DATABASE_URL=jdbc:mysql://mysql:3306/Paridhi-Portal-2025?createDatabaseIfNotExist=true
DATABASE_USERNAME=root
DATABASE_PASSWORD=mysql_password

JWT_SECRET=jwt_secret
JWT_EXPIRATION=86400000

SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=StrongPassword123
SUPER_ADMIN_NAME=SuperAdmin

EMAIL_USERNAME=email@gmail.com
EMAIL_APP_PASSWORD=app_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587